html {
	background-color: #0C0D14;
	color: #FFF;
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	text-align: justify;
	font-size: 12pt;
	font-weight: 300;
}

strong {
	font-weight: 700;
}

div#wrapper {
	width: 750px!important;
	margin: 0 auto;
}

div#header {
	text-align: center;
}

div#description {
	margin-bottom: 30px;	
}

h1 {
	margin: 30pt 20pt 10pt 20pt;
	font-family: 'Oswald', 'Avenir Next Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 300;	
	font-size: 56pt;
}

p, h2, h3, h4, h5 {
	line-height: 1.3;
	margin: 10pt 5pt 5pt 5pt;	
}

p.headline {
	font-size: 14pt;
	margin-bottom: 10pt;
	text-align: center;
}

ul {
	list-style-type: circle;
	padding-left: 30px;
}

li {
	line-height: 1.4;
}